# Ansible managed. role: {{ role_name }}, template: backports.list.j2

{% for deb in apt_debs %}{{ deb }} {{ apt_mirror_url }} {% if apt_codename is defined %}{{ apt_codename }}{% else %}{{ ansible_lsb.codename }}{% endif %}-backports{% for component in apt_components %} {{ component }}{% endfor %}

{% endfor %}
