{% for source in item.contents %}
Types: {{ source.types | join(' ') }}
URIs: mirror+file:///etc/apt/mirrors/{{ source.name }}.list
Suites: {{ source.suites | join(' ') }}
Components: {{ source.components | join(' ') }}

{% endfor %}
