// {{ ansible_managed }} (role: apt, template: network.j2)
{% if proxy_env is defined and proxy_env != '' %}
Acquire::http::Proxy "{{ proxy }}";
Acquire::https::Proxy "{{ proxy }}";
{% endif %}
{% if apt_pad is defined and apt_pad != '' %}
Acquire::http::Proxy-Auto-Detect "{{ apt_pad }}";
Acquire::https::Proxy-Auto-Detect "{{ apt_pad }}";
{% endif %}
