# {{ ansible_managed }}. role: apt, template: sources.list.Debian.j2

{% for deb in apt_debs %}
{{ deb }} {{ apt_mirror_url }} {% if apt_codename is defined %}{{ apt_codename }}{% elif apt_release is defined %}{{ apt_release }}{% else %}{{ ansible_distribution_release }}{% endif %}
{% for component in apt_components %} {{ component }}{% endfor %}

{% endfor %}

{% if apt_security_url is defined %}
{% for deb in apt_debs %}{{ deb }} {{ apt_security_url }} {% if apt_codename is defined %}{{ apt_codename }}{% elif apt_release is defined %}{{ apt_release }}{% else %}{{ ansible_distribution_release }}{% endif %}{% if ansible_distribution_major_version|int >= 11 or ( apt_codename is defined and apt_codename in ['bullseye','bookworm'] ) or ansible_distribution_version in ['stable','testing'] or ansible_distribution_release in ['bookworm'] %}-security{% else %}/updates{% endif %}{% for component in apt_security_components | default(apt_components) %} {{ component }}{% endfor %}

{% endfor %}
{% endif %}

{% if apt_proposed_updates is defined and apt_proposed_updates|lower() in ['true','yes'] %}
{% for deb in apt_debs %}{{ deb }} {{ apt_mirror_url }} {% if apt_codename is defined %}{{ apt_codename }}{% elif apt_release is defined %}{{ apt_release }}{% else %}{{ ansible_distribution_release }}{% endif %}-updates{% for component in apt_proposed_components | default(apt_components) %} {{ component }}{% endfor %}

{% endfor %}
{% endif %}
