# {{ ansible_managed }}

{% for deb in apt_debs %}{{ deb }} {{ apt_mirror_url }} {% if apt_codename is defined %}{{ apt_codename }}{% else %}{{ ansible_lsb['codename'] }}{% endif %}{% for component in apt_components %} {{ component }}{% endfor %}

{% endfor %}
