# {{ ansible_managed }}. role: apt, file: updates.preferences.j2
# set higher priority for packages from {% if apt_codename is defined %}{{ apt_codename }}{% elif apt_release is defined %}{{ apt_release }}{% else %}{{ ansible_lsb['codename'] }}{% endif %}-updates.
Package: *
Pin: release n={% if apt_codename is defined %}{{ apt_codename }}{% elif apt_release is defined %}{{ apt_release }}{% else %}{{ ansible_lsb['codename'] }}{% endif %}-updates
Pin-Priority: 990
